# Catch-all rule
/data-processed/ @kathsherratt

# Sophie Meakin's models
/data-processed/epiforecasts-arimareg/ @kathsherratt @sophiemeakin
/data-processed/epiforecasts-caseconv/ @kathsherratt @sophiemeakin
/data-processed/epiforecasts-tsensemble/ @kathsherratt @sophiemeakin
