*.DS_Store

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
Rdeps/

# python
__pycache__/
.here
env
*.pyc

# vs
*.code-workspace
.vscode

# ignore developement credentials
/code/auto_download/creds.json

# HTML-rendered version of READMEs
README.html
validation
